.pdfDiv{

}

.infoBlock{

}
.contentBlockGrid{
    display: flex;
  justify-content: space-evenly;
}

.contentBlockGrid .pdfButton{
  background: darkred;
  padding: 25px;
  text-transform: uppercase;
  color: white;
  border: 2px solid black;
  transition: 0.3s ease-in-out;
}

.contentBlockGrid .pdfButton:hover{
  opacity:0.8;
}

.availabilityBlock .invisible {
  border: none;
  background-color:transparent;
}

.availabilityBlock table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.availabilityBlock td, .availabilityBlock th {
  border: 1px solid #857676;
  text-align: center;
  padding: 8px;
}
.availabilityBlock tr:hover {background-color: coral;}

.cms-react-boilerplate__container{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.contentBlocks{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 25px;
  background: rgba(193, 66, 66, 0.06);
}

.contentBlocks iframe{
  width: 100%;
  height: 600px;
}

.popupContentBlock{
  background: rgba(193, 66, 66, 0.06);
}

.popupContentDiv{
  display: flex;
  justify-content: space-between;
}

.popupContentDiv a{
  padding-right: 15px;
  cursor: pointer;
  color: red;
  font-size: 45px;
  transition: 0.3s ease-in-out;
}

.popupContentDiv a:hover{
  opacity: 0.3;
}


.contentBlocks img{
  max-width: 500px;
}


.infoLeft{
  grid-area: 1/1;
  height: 100%;
  margin: 25px;
}

.infoGridBlock{
  display: grid;
  grid-template-columns: 98% auto;
  background: rgba(193, 66, 66, 0.06);
  padding-top: 25px;
  padding-bottom: 25px;
}
.zAddIndex{
  z-index: 1;
}

.listHeader{
  display: inline-block;
}

.greenText{
  color: green !important;
}

.slightPadRight{
  padding-right: 1.17px;
}

.redText{
  color: red !important;
}

.boxred{
  background-color: rgba(255, 47, 41, 0.89);
}

.boxwhite{
  background-color: rgba(178, 173, 173, 0.89);
}

.boxblue{
  background-color: rgba(41, 97, 255, 0.89);
}

.boxblack{
  background-color: rgba(40, 38, 38, 0.89);
}

.content {
  transform: translate3d(1%, 0, 0);
  text-align: left;
  color: white;
  border-radius: 1px;
  padding: 1px;
  width: 200%;
}

.show{
  display: grid;
  grid-template-columns: 98% auto;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

.hide{
  display: none;
}

.popupBlock h2{
  color: white;
  margin: 0px 0px 1px 0px;
  padding: 0px;
}

.popupBlock h4{
  color: white;
  margin: .5px 0px .5px 0px;
  padding: 0px;
}

.popupBlock ul{
  margin: 0px 0px 1px 0px;
  padding: 0px;
  list-style-type: none;
}

.popupBlock li{

  color: white;
  margin: 0px 0px 0px .2px;
  padding: 0px;
  line-height: 1px;
}

.popupBlock p{

  color: white;
  margin: 0px;
  padding: 0px;
}

.closeButton{
  opacity: 1;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  z-index: 99999;
  padding-right: 50px;
}

.closeButton p{
  font-size: 30px;
}

.closeButton:hover{
  opacity: 0.8;
  cursor: pointer;
}

//Animations
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1; }
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.popup-content{
  margin:auto;
  background:#fff;
  width:75%;
  padding:5px;
  border:1px solid #d7d7d7;
}

.mapDiv{
  width: 75vw;
  height: 75vh;
}

@media only screen and (max-width: 600px) {
  .popup-content {
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
  }

  .contentBlockGrid{
    display: grid;
    grid-template-columns: auto;
  }

  .infoBlock{
    margin-top: 25px;
  }

  .pdfDiv{
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .popupHeaderLeft{
    padding-top: 10px;
  }

  .contentBlocks{
    padding-top: 20px;
  }

  .contentBlocks iframe{
    height: 60vh;
  }

  canvas{

  }

  .mapDiv{
    height: 50vh;
  }
}


[role=tooltip].popup-content{width:200px;box-shadow:0 0 3px rgba(0,0,0,.16);border-radius:5px}

.popup-overlay{background:rgba(0,0,0,.5)}

[data-popup=tooltip].popup-overlay{background:transparent}

.popup-arrow{-webkit-filter:drop-shadow(0 -3px 3px rgba(0,0,0,.16));filter:drop-shadow(0 -3px 3px rgba(0,0,0,.16));color:#fff;stroke-width:2px;stroke:#d7d7d7;stroke-dasharray:30px;stroke-dashoffset:-54px;left:0;right:0;top:0;bottom:0}